@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

body, figure {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: 100%;    
  -ms-text-size-adjust: 100%;    
  -webkit-text-size-adjust: 100%;  
  text-size-adjust: 100%;
  text-size-adjust: 100%;
}

h1 {
  font-family: sans-serif;
}

/**                                                             HEADER **/

.main-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 6rem;
  color: white;
  background-color: #fff;
  line-height: 6rem;
  transform: translateY(0);
  transform: translate3d(0,0,0);
  transition: .25s transform;
  backface-visibility: hidden;
  z-index: 2;
}

.main-header h1 {
  float: left;
  font-size: 1.4rem;
  margin: 0 0 0 2rem;
  text-transform: uppercase;
}

.main-header nav {
  float: right;
  font-size: 1.4rem;
  margin-right: 36%;
}

.main-header nav ul { 
  margin: 0; 
  padding: 0; 
}

.main-header nav li {
  display: inline-block;
  padding: 0 2rem;
  font-family: sans-serif;
  font-size: 12px;
  letter-spacing: 4px;
  color: #666;
  text-transform: uppercase;
}  

a li {
    color: #fff;
}

.logo {
  width: 4%;
  margin-top: 0.6em;
  margin-left: 1em;
  position: fixed;
  vertical-align: middle;
}

/**                                                                 Background **/

.landing {
  background: transparent url("../images/coludy_mountains_nature-wide.jpg") no-repeat center top;
  background-size: cover;
  position: relative;
  padding: 25em 0;
}

/**                                                                 About **/

.about {
    padding: 1em 0 9em;
    position: relative;
}

.me {
  padding: 0 10%;
}

/**                                                                 Portfolio **/

.portfolio {
    padding: 0em 0 0em;
    background-color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.resize {
    width: 33.33%;
    margin-bottom: 1.5em;
    float: left;
    position: relative;

    transition: all 500ms ease;
    transform: translate3d(0,0,0);
}

.portfolio-piece {
    width: 100%;
}

figcaption {
  color: white;
  margin-top: -2em;
  margin-bottom: -0.8em;
  font-family: sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 240px) and (max-width: 600px) {
    .resize {
      width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 960px) {
    .resize {
      width: 50%;
    }
}

/**                                                                 Contact **/

.contact {
    padding: 10em 0;
    background-color: #222;
}