body, figure {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: 100%;    
  -ms-text-size-adjust: 100%;    
  -webkit-text-size-adjust: 100%;
  font-family: 'adobe garamond pro', serif;
}

h1 {
  font-family: 'lato', sans-serif;
}

h2 {
  font-family: 'adobe garamond pro', serif;
  font-weight: 100;
  font-size: 36px;
    color: #444;
}

h3 {
  font-family: 'adobe garamond pro', serif;
  font-weight: 100;
  font-size: 26px;
    color: #666;
  padding-top: 1.5em;
}

p {
  line-height: 25px;
}

/**                                                             HEADER **/

.main-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5rem;
  color: white;
  background-color: #fff;
  line-height: 5rem;
  transform: translateY(0);
  transform: translate3d(0,0,0);
  transition: .25s transform;
  backface-visibility: hidden;
  z-index: 2;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
  }
}

.main-header h1 {
  float: left;
  font-size: 1.4rem;
  margin: 0 0 0 2rem;
  text-transform: uppercase;
}

.main-header nav {
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
}

.main-header nav ul { 
  margin: 0; 
  padding: 0;
}

.main-header nav li {
  display: inline-block;
  padding: 0 2rem;
  font-family: 'lato', sans-serif;
  font-size: 13px;
  letter-spacing: 4px;
  color: #5b7d9a;
  text-transform: uppercase;
}

.main-header nav li:hover {
    color: #fff;
    background: #5b7d9a;
    transition: background 0.2s ease-in-out;
    transition: 0.3s ease-in-out;
}

a li {
    color: #fff;
    text-decoration: none;
}

i {
    color: #fff;
    text-decoration: none;
}

.logo {
    width: 43px;
    height: 62px;
}

.logo-link {
  width: 43px;
  height: 62px;
  margin-top: 0.6em;
  margin-left: 1.2em;
  position: absolute;
  vertical-align: middle;
  z-index: 9;
}

/**                                                                 Background **/

.landing {
  background: transparent url("../images/background-image.jpg") no-repeat center top;
  transform: translate3d(0,0,0);
  background-size: cover;
  position: relative;
  padding: 12em 0;
  text-align: center;
  margin-top: 5rem;
}

.wordmark {
  width: 400px;
  position: relative;
}

/**                                                                 About **/

.about {
    padding: 0em 0 0em;
    position: relative;
    text-align: center;
    background: #fff;
    -webkit-transform: translate3d(0, 0, 0);
}

.me {
  padding: 4em 10% 4em;
}

.portrait {
  position: relative;
  margin-top: 3rem;
  overflow: hidden;
}

/**                                                                 Portfolio **/

.portfolio {
    padding: 0em 0 0em;
    background-color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.resize {
    width: 50%;
    margin-bottom: 1.5em;
    float: left;
    position: relative;

    transition: all 500ms ease;
    transform: translate3d(0,0,0);
}

.portfolio-piece {
    width: 100%;
    height: 100%;
    color: #fff;
    margin-top: -1.9rem;
    
    transition: opacity 0.2s ease-in-out;
}

.portfolio-piece:hover { 
    -moz-opacity 0.8; 
    -webkit-opacity: 0.8; 
    opacity: 0.8;
}

h6 {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

/**                                                                 Contact **/

.contact {
  padding: 10em 0;
  margin-top: -2em;
  background-color: #222;
  position: relative;
  text-align: center;
}

.flex {
  display: inline-block;
  -webkit-display: inline-block;
  align-items: center;
  font-size: 2.5em;
  height: 100%;
}
/* just for demo, vertically center row */
.row {
  display: inline-block;
  -webkit-display: inline-block;
  align-items: center;
  height: 100% !important;
}

